@import "../../style/var.scss";
@import "../../style/fonts.scss";
.signIn {
  width: 100%;
  margin-top: 90px;
  @media (max-width: 450px) {
  }
}
.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}
.link_home {
  display: inline-block;
  font-size: $_16px;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 400;
}
.link_home:hover {
  transform: scale(1.09);
}
.form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 624px;
  border-radius: 16px;
  padding: 40px;
  @media (max-width: 690px) {
    width: 424px;
  }
  @media (max-width: 450px) {
    width: 290px;
  }
  &_input {
    margin: 12px 0 25px;
    padding: 1rem;
    border: 1px solid rgba(49, 48, 55, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgba(49, 48, 55, 0.1);
      transform: scale(1.02);
    }
  }
}
.input_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    text-align: left;
    margin-bottom: 8px;
    font-size: $_16px;
    font-family: "Inter";
    font-weight: 600;
  }
}
.restore_password {
  margin-bottom: 48px;
  font-size: $_16px;
  transition: 0.1s;
  font-family: "Inter";
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: rgba(108, 27, 219, 1);
  }
}
.login {
  border: none;
  background-color: rgba(108, 27, 219, 1);
  padding: 15px;
  border-radius: 10px;
  font-size: $_16px;
  font-family: "Inter";
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
  width: 100%;
  @media (max-width: 450px) {
    // width: 310px;
  }
  &:hover {
    transform: scale(1.03);
  }
}
.switchon {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  padding: 20px;
  cursor: pointer;
  display: block;
  font-size: $_16px;
  font-family: "Inter";
  font-weight: 500;
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
  @media (max-width: 450px) {
    font-size: $_13px;
  }
  &:hover {
    transform: scale(1.1);
  }
}
