@import "../../style/var.scss";
@import "../../style/fonts.scss";
.header {
  width: 100%;
}

.container {
  position: relative;
  margin: auto;
  max-width: 1920px;
  padding: 0 15px;
}
.wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 -15px;
  @media (max-width: 670px) {
    display: flex;
    justify-content: space-around;
  }
}
.logo {
  width: 150px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: 0.3s;
  cursor: pointer;
  @media (max-width: 700px) {
    width: 151px;
    padding: 10px;
  }
  @media (max-width: 460px) {
    width: 125px;
  }
  &__title {
    background-color: rgba(128, 84, 209, 1);
    border-radius: 5px;
    width: 100%;
    height: 56px;
    font-family: "Inter";
    font-weight: 800;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 460px) {
      font-size: $_12px;
    }
  }
  &:hover {
    transform: scale(1.08);
  }
}

.menu_wrap {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 30;
}

.link_wrap {
  display: flex;
  align-items: center;
}
.btn_link {
  cursor: pointer;
  font-size: 30px;
  padding: 15px;
  color: rgba(128, 84, 209, 1);
  transition: 0.3s;
}
.btn_link:hover {
  transform: scale(1.08);
}
.btn_active {
  cursor: pointer;
  font-size: 30px;
  padding: 15px;
  transition: 0.3s;
  color: rgb(132, 36, 36);
}

.icon_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
